Mobility_Android/Web References/WebService.WorkOrder/workorder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://ceritar.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://ceritar.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://ceritar.com/">
      <s:element name="GetStations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStationsResult" type="tns:CR_ResultActionOfListOfWorkOrderStationWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CR_ResultActionOfListOfWorkOrderStationWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfCR_ErrorMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnValue" type="tns:ArrayOfWorkOrderStationWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCR_ErrorMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CR_ErrorMessage" nillable="true" type="tns:CR_ErrorMessage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CR_ErrorMessage">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWorkOrderStationWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WorkOrderStationWS" nillable="true" type="tns:WorkOrderStationWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WorkOrderStationWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LineNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductionLine" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMaCompagnie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaCompagnieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMaCompagnieResult" type="tns:CR_ResultActionOfMaCompagnieWs" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CR_ResultActionOfMaCompagnieWs">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfCR_ErrorMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnValue" type="tns:MaCompagnieWs" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MaCompagnieWs">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Adresse" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLisensePool">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ligne" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLisensePoolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLisensePoolResult" type="tns:CR_ResultActionOfListOfWorkOrderLisensePool" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CR_ResultActionOfListOfWorkOrderLisensePool">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfCR_ErrorMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnValue" type="tns:ArrayOfWorkOrderLisensePool" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWorkOrderLisensePool">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WorkOrderLisensePool" nillable="true" type="tns:WorkOrderLisensePool" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WorkOrderLisensePool">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StationId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NbBoxes" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PackingDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="NetWeight" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="LotId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SSCC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BatchNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TermiconPrintObjectData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PalCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AllBatchNUmber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TermiconPrintObjectDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TermiconPrintObjectDataResult" type="tns:CR_ResultActionOfListOfTermiconPrintObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CR_ResultActionOfListOfTermiconPrintObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfCR_ErrorMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnValue" type="tns:ArrayOfTermiconPrintObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTermiconPrintObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TermiconPrintObject" nillable="true" type="tns:TermiconPrintObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TermiconPrintObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DescEn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescFr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescAlt" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WeightKg" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="WeightLb" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="BrutWeightKg" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="BrutWeightLb" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TareKg" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TareLb" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CieNom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CieNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CieAdresse" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProdDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="BatchNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PreparedFor" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SSCC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LicenseId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WorkOrderId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="lineNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PackagingType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BarCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getProductFormatNRIWithProCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getProductFormatNRIWithProCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getProductFormatNRIWithProCodeResult" type="tns:CR_ResultActionOfInt32" />
            <s:element minOccurs="0" maxOccurs="1" name="ProCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CR_ResultActionOfInt32">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfCR_ErrorMessage" />
          <s:element minOccurs="1" maxOccurs="1" name="ReturnValue" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateLisensePool">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lisensePoolIds" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateLisensePoolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateLisensePoolResult" type="tns:CR_ResultActionOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CR_ResultActionOfBoolean">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfCR_ErrorMessage" />
          <s:element minOccurs="1" maxOccurs="1" name="ReturnValue" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetWorkOrdersTermicon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="stationId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWorkOrdersTermiconResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWorkOrdersTermiconResult" type="tns:CR_ResultActionOfListOfWorkOrderWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CR_ResultActionOfListOfWorkOrderWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfCR_ErrorMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnValue" type="tns:ArrayOfWorkOrderWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWorkOrderWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WorkOrderWS" nillable="true" type="tns:WorkOrderWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WorkOrderWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TemplateCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TemplateDescFr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TemplateDescEn" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dateDebut" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="dateFin" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductionLine" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="cieNri" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="cieCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cieNom" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cieMoi" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="batchCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Products" type="tns:ArrayOfWorkOrderProductWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWorkOrderProductWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WorkOrderProductWS" nillable="true" type="tns:WorkOrderProductWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WorkOrderProductWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WorkOderId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="productDescFr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductDescEn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductDescAlt" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Weight" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Tare" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="SSCC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsFixedWeight" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpeditionStateFr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpeditionStateEn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BatchNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PackageType" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPrintObjectData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PrintObject" type="tns:TermiconDataWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TermiconDataWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="pBarCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WorkOrderId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPrintObjectDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPrintObjectDataResult" type="tns:CR_ResultActionOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWorkOrdersRF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="stationId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWorkOrdersRFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWorkOrdersRFResult" type="tns:CR_ResultActionOfListOfWorkOrderWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWorkOrdersbyBatchRF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="barCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWorkOrdersbyBatchRFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWorkOrdersbyBatchRFResult" type="tns:CR_ResultActionOfWorkOrderWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CR_ResultActionOfWorkOrderWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfCR_ErrorMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnValue" type="tns:WorkOrderWS" />
        </s:sequence>
      </s:complexType>
      <s:element name="StartWorkOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="workOrderId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartWorkOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StartWorkOrderResult" type="tns:CR_ResultActionOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StopWorkOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="workOrderId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StopWorkOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StopWorkOrderResult" type="tns:CR_ResultActionOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWorkOrderStats">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="workOrderId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lng" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWorkOrderStatsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWorkOrderStatsResult" type="tns:CR_ResultActionOfListOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CR_ResultActionOfListOfString">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfCR_ErrorMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnValue" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateBtExtrantLic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="items" type="tns:ArrayOfLisenseExtrant" />
            <s:element minOccurs="1" maxOccurs="1" name="isFullPallet" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLisenseExtrant">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LisenseExtrant" nillable="true" type="tns:LisenseExtrant" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LisenseExtrant">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="workOrderId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="productId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="weight" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="packingDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="lisenseCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateBtExtrantLicResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateBtExtrantLicResult" type="tns:CR_ResultActionOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListOfBalances">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListOfBalancesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListOfBalancesResult" type="tns:CR_ResultActionOfListOfWorkOrderBalanceObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CR_ResultActionOfListOfWorkOrderBalanceObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfCR_ErrorMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnValue" type="tns:ArrayOfWorkOrderBalanceObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWorkOrderBalanceObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WorkOrderBalanceObject" nillable="true" type="tns:WorkOrderBalanceObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WorkOrderBalanceObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Port" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BaudRate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Parity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataBits" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StopBit" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HandleCr" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Threshold" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetStations" />
  </wsdl:message>
  <wsdl:message name="GetStationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetStationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetMaCompagnieSoapIn">
    <wsdl:part name="parameters" element="tns:GetMaCompagnie" />
  </wsdl:message>
  <wsdl:message name="GetMaCompagnieSoapOut">
    <wsdl:part name="parameters" element="tns:GetMaCompagnieResponse" />
  </wsdl:message>
  <wsdl:message name="GetLisensePoolSoapIn">
    <wsdl:part name="parameters" element="tns:GetLisensePool" />
  </wsdl:message>
  <wsdl:message name="GetLisensePoolSoapOut">
    <wsdl:part name="parameters" element="tns:GetLisensePoolResponse" />
  </wsdl:message>
  <wsdl:message name="TermiconPrintObjectDataSoapIn">
    <wsdl:part name="parameters" element="tns:TermiconPrintObjectData" />
  </wsdl:message>
  <wsdl:message name="TermiconPrintObjectDataSoapOut">
    <wsdl:part name="parameters" element="tns:TermiconPrintObjectDataResponse" />
  </wsdl:message>
  <wsdl:message name="getProductFormatNRIWithProCodeSoapIn">
    <wsdl:part name="parameters" element="tns:getProductFormatNRIWithProCode" />
  </wsdl:message>
  <wsdl:message name="getProductFormatNRIWithProCodeSoapOut">
    <wsdl:part name="parameters" element="tns:getProductFormatNRIWithProCodeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateLisensePoolSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateLisensePool" />
  </wsdl:message>
  <wsdl:message name="UpdateLisensePoolSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateLisensePoolResponse" />
  </wsdl:message>
  <wsdl:message name="GetWorkOrdersTermiconSoapIn">
    <wsdl:part name="parameters" element="tns:GetWorkOrdersTermicon" />
  </wsdl:message>
  <wsdl:message name="GetWorkOrdersTermiconSoapOut">
    <wsdl:part name="parameters" element="tns:GetWorkOrdersTermiconResponse" />
  </wsdl:message>
  <wsdl:message name="GetPrintObjectDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetPrintObjectData" />
  </wsdl:message>
  <wsdl:message name="GetPrintObjectDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetPrintObjectDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetWorkOrdersRFSoapIn">
    <wsdl:part name="parameters" element="tns:GetWorkOrdersRF" />
  </wsdl:message>
  <wsdl:message name="GetWorkOrdersRFSoapOut">
    <wsdl:part name="parameters" element="tns:GetWorkOrdersRFResponse" />
  </wsdl:message>
  <wsdl:message name="GetWorkOrdersbyBatchRFSoapIn">
    <wsdl:part name="parameters" element="tns:GetWorkOrdersbyBatchRF" />
  </wsdl:message>
  <wsdl:message name="GetWorkOrdersbyBatchRFSoapOut">
    <wsdl:part name="parameters" element="tns:GetWorkOrdersbyBatchRFResponse" />
  </wsdl:message>
  <wsdl:message name="StartWorkOrderSoapIn">
    <wsdl:part name="parameters" element="tns:StartWorkOrder" />
  </wsdl:message>
  <wsdl:message name="StartWorkOrderSoapOut">
    <wsdl:part name="parameters" element="tns:StartWorkOrderResponse" />
  </wsdl:message>
  <wsdl:message name="StopWorkOrderSoapIn">
    <wsdl:part name="parameters" element="tns:StopWorkOrder" />
  </wsdl:message>
  <wsdl:message name="StopWorkOrderSoapOut">
    <wsdl:part name="parameters" element="tns:StopWorkOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetWorkOrderStatsSoapIn">
    <wsdl:part name="parameters" element="tns:GetWorkOrderStats" />
  </wsdl:message>
  <wsdl:message name="GetWorkOrderStatsSoapOut">
    <wsdl:part name="parameters" element="tns:GetWorkOrderStatsResponse" />
  </wsdl:message>
  <wsdl:message name="CreateBtExtrantLicSoapIn">
    <wsdl:part name="parameters" element="tns:CreateBtExtrantLic" />
  </wsdl:message>
  <wsdl:message name="CreateBtExtrantLicSoapOut">
    <wsdl:part name="parameters" element="tns:CreateBtExtrantLicResponse" />
  </wsdl:message>
  <wsdl:message name="GetListOfBalancesSoapIn">
    <wsdl:part name="parameters" element="tns:GetListOfBalances" />
  </wsdl:message>
  <wsdl:message name="GetListOfBalancesSoapOut">
    <wsdl:part name="parameters" element="tns:GetListOfBalancesResponse" />
  </wsdl:message>
  <wsdl:portType name="WorkOrderSoap">
    <wsdl:operation name="GetStations">
      <wsdl:input message="tns:GetStationsSoapIn" />
      <wsdl:output message="tns:GetStationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMaCompagnie">
      <wsdl:input message="tns:GetMaCompagnieSoapIn" />
      <wsdl:output message="tns:GetMaCompagnieSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLisensePool">
      <wsdl:input message="tns:GetLisensePoolSoapIn" />
      <wsdl:output message="tns:GetLisensePoolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TermiconPrintObjectData">
      <wsdl:input message="tns:TermiconPrintObjectDataSoapIn" />
      <wsdl:output message="tns:TermiconPrintObjectDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getProductFormatNRIWithProCode">
      <wsdl:input message="tns:getProductFormatNRIWithProCodeSoapIn" />
      <wsdl:output message="tns:getProductFormatNRIWithProCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLisensePool">
      <wsdl:input message="tns:UpdateLisensePoolSoapIn" />
      <wsdl:output message="tns:UpdateLisensePoolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkOrdersTermicon">
      <wsdl:input message="tns:GetWorkOrdersTermiconSoapIn" />
      <wsdl:output message="tns:GetWorkOrdersTermiconSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPrintObjectData">
      <wsdl:input message="tns:GetPrintObjectDataSoapIn" />
      <wsdl:output message="tns:GetPrintObjectDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkOrdersRF">
      <wsdl:input message="tns:GetWorkOrdersRFSoapIn" />
      <wsdl:output message="tns:GetWorkOrdersRFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkOrdersbyBatchRF">
      <wsdl:input message="tns:GetWorkOrdersbyBatchRFSoapIn" />
      <wsdl:output message="tns:GetWorkOrdersbyBatchRFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StartWorkOrder">
      <wsdl:input message="tns:StartWorkOrderSoapIn" />
      <wsdl:output message="tns:StartWorkOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StopWorkOrder">
      <wsdl:input message="tns:StopWorkOrderSoapIn" />
      <wsdl:output message="tns:StopWorkOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkOrderStats">
      <wsdl:input message="tns:GetWorkOrderStatsSoapIn" />
      <wsdl:output message="tns:GetWorkOrderStatsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateBtExtrantLic">
      <wsdl:input message="tns:CreateBtExtrantLicSoapIn" />
      <wsdl:output message="tns:CreateBtExtrantLicSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListOfBalances">
      <wsdl:input message="tns:GetListOfBalancesSoapIn" />
      <wsdl:output message="tns:GetListOfBalancesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WorkOrderSoap" type="tns:WorkOrderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStations">
      <soap:operation soapAction="https://ceritar.com/GetStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaCompagnie">
      <soap:operation soapAction="https://ceritar.com/GetMaCompagnie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLisensePool">
      <soap:operation soapAction="https://ceritar.com/GetLisensePool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TermiconPrintObjectData">
      <soap:operation soapAction="https://ceritar.com/TermiconPrintObjectData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductFormatNRIWithProCode">
      <soap:operation soapAction="https://ceritar.com/getProductFormatNRIWithProCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLisensePool">
      <soap:operation soapAction="https://ceritar.com/UpdateLisensePool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkOrdersTermicon">
      <soap:operation soapAction="https://ceritar.com/GetWorkOrdersTermicon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrintObjectData">
      <soap:operation soapAction="https://ceritar.com/GetPrintObjectData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkOrdersRF">
      <soap:operation soapAction="https://ceritar.com/GetWorkOrdersRF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkOrdersbyBatchRF">
      <soap:operation soapAction="https://ceritar.com/GetWorkOrdersbyBatchRF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartWorkOrder">
      <soap:operation soapAction="https://ceritar.com/StartWorkOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopWorkOrder">
      <soap:operation soapAction="https://ceritar.com/StopWorkOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkOrderStats">
      <soap:operation soapAction="https://ceritar.com/GetWorkOrderStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBtExtrantLic">
      <soap:operation soapAction="https://ceritar.com/CreateBtExtrantLic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListOfBalances">
      <soap:operation soapAction="https://ceritar.com/GetListOfBalances" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WorkOrderSoap12" type="tns:WorkOrderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStations">
      <soap12:operation soapAction="https://ceritar.com/GetStations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaCompagnie">
      <soap12:operation soapAction="https://ceritar.com/GetMaCompagnie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLisensePool">
      <soap12:operation soapAction="https://ceritar.com/GetLisensePool" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TermiconPrintObjectData">
      <soap12:operation soapAction="https://ceritar.com/TermiconPrintObjectData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductFormatNRIWithProCode">
      <soap12:operation soapAction="https://ceritar.com/getProductFormatNRIWithProCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLisensePool">
      <soap12:operation soapAction="https://ceritar.com/UpdateLisensePool" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkOrdersTermicon">
      <soap12:operation soapAction="https://ceritar.com/GetWorkOrdersTermicon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrintObjectData">
      <soap12:operation soapAction="https://ceritar.com/GetPrintObjectData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkOrdersRF">
      <soap12:operation soapAction="https://ceritar.com/GetWorkOrdersRF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkOrdersbyBatchRF">
      <soap12:operation soapAction="https://ceritar.com/GetWorkOrdersbyBatchRF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartWorkOrder">
      <soap12:operation soapAction="https://ceritar.com/StartWorkOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopWorkOrder">
      <soap12:operation soapAction="https://ceritar.com/StopWorkOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkOrderStats">
      <soap12:operation soapAction="https://ceritar.com/GetWorkOrderStats" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBtExtrantLic">
      <soap12:operation soapAction="https://ceritar.com/CreateBtExtrantLic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListOfBalances">
      <soap12:operation soapAction="https://ceritar.com/GetListOfBalances" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WorkOrder">
    <wsdl:port name="WorkOrderSoap" binding="tns:WorkOrderSoap">
      <soap:address location="http://svr-net15-temp/myceritar_miechko/services/inventory/workorder.asmx" />
    </wsdl:port>
    <wsdl:port name="WorkOrderSoap12" binding="tns:WorkOrderSoap12">
      <soap12:address location="http://svr-net15-temp/myceritar_miechko/services/inventory/workorder.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>