Mobility_Android/Web References/WebService.Operations/WMSOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://ceritar.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://ceritar.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://ceritar.com/">
      <s:element name="GetListReceptions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lang" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="warehouseNRI" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListReceptionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListReceptionsResult" type="tns:CR_ResultActionOfListOfReceptionWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CR_ResultActionOfListOfReceptionWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfCR_ErrorMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnValue" type="tns:ArrayOfReceptionWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCR_ErrorMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CR_ErrorMessage" nillable="true" type="tns:CR_ErrorMessage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CR_ErrorMessage">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfReceptionWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReceptionWS" nillable="true" type="tns:ReceptionWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReceptionWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReceptionNRI" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SupplierCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Products" type="tns:ArrayOfProductDetailsWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProductDetailsWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductDetailsWS" nillable="true" type="tns:ProductDetailsWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductDetailsWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SSCC" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NRI" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="qtyPicked" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="qtyToPick" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="totalWeight" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="parentItemNRI" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="isFixedWeight" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="defaultProductWeight" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="udmNRI" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="udmCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PoCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pickedProducts" type="tns:ArrayOfPickedLicensesWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPickedLicensesWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PickedLicensesWS" nillable="true" type="tns:PickedLicensesWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PickedLicensesWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="weight" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="nri" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetReceptionByNRI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="receptionNRI" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lang" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceptionByNRIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReceptionByNRIResult" type="tns:CR_ResultActionOfReceptionWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CR_ResultActionOfReceptionWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfCR_ErrorMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnValue" type="tns:ReceptionWS" />
        </s:sequence>
      </s:complexType>
      <s:element name="PickLicenseReception">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="license" type="tns:LicenseWS" />
            <s:element minOccurs="1" maxOccurs="1" name="lang" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LicenseWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="productNRI" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="productSSCC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="weightKG" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="weightLb" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="packingDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="productionDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="expirationDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="saleDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="licenseCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="licenseNRI" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="parentNRI" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="qtyUdm" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="PickLicenseReceptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PickLicenseReceptionResult" type="tns:CR_ResultActionOfProductDetailsWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CR_ResultActionOfProductDetailsWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfCR_ErrorMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnValue" type="tns:ProductDetailsWS" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateSSCCListForProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="proNRI" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sscc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="receptionNRI" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSSCCListForProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateSSCCListForProductResult" type="tns:CR_ResultActionOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CR_ResultActionOfBoolean">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfCR_ErrorMessage" />
          <s:element minOccurs="1" maxOccurs="1" name="ReturnValue" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="CompleteReception">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="receptionNRI" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompleteReceptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompleteReceptionResult" type="tns:CR_ResultActionOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceptionProductDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="receptionNRI" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lang" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceptionProductDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReceptionProductDetailsResult" type="tns:CR_ResultActionOfListOfProductDetailsWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CR_ResultActionOfListOfProductDetailsWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfCR_ErrorMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnValue" type="tns:ArrayOfProductDetailsWS" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetListSale">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lang" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="warehouseNRI" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListSaleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListSaleResult" type="tns:CR_ResultActionOfListOfSaleWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CR_ResultActionOfListOfSaleWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfCR_ErrorMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnValue" type="tns:ArrayOfSaleWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSaleWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SaleWS" nillable="true" type="tns:SaleWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SaleWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="saleNRI" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="customerCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="products" type="tns:ArrayOfProductDetailsWS" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSaleByNRI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="saleNRI" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lang" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSaleByNRIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSaleByNRIResult" type="tns:CR_ResultActionOfSaleWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CR_ResultActionOfSaleWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfCR_ErrorMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnValue" type="tns:SaleWS" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetQtyOrderedBySaleNri">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="saleNRI" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQtyOrderedBySaleNriResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQtyOrderedBySaleNriResult" type="tns:CR_ResultActionOfDecimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CR_ResultActionOfDecimal">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfCR_ErrorMessage" />
          <s:element minOccurs="1" maxOccurs="1" name="ReturnValue" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProductFormatFromProCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductFormatFromProCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductFormatFromProCodeResult" type="tns:CR_ResultActionOfInt32" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CR_ResultActionOfInt32">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfCR_ErrorMessage" />
          <s:element minOccurs="1" maxOccurs="1" name="ReturnValue" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="PickLicenseSale">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="license" type="tns:LicenseWS" />
            <s:element minOccurs="1" maxOccurs="1" name="lang" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="warehouseNRI" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PickLicenseSaleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PickLicenseSaleResult" type="tns:CR_ResultActionOfProductDetailsWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompleteSale">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="saleNRI" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompleteSaleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompleteSaleResult" type="tns:CR_ResultActionOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSaleProductDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="saleNRI" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lang" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSaleProductDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSaleProductDetailsResult" type="tns:CR_ResultActionOfListOfProductDetailsWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSale">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sale" type="tns:SaleObjectWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SaleObjectWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NRI" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DeliveryAddressNRI" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomerNRI" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RecipientNRI" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CarrierNRI" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SellerNRI" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatorNRI" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusNRI" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PriorityNRI" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DateCreated" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateExpected" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="WarehouseNRI" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="POCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OwnerNRI" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateSaleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateSaleResult" type="tns:CR_ResultActionOfInt32" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RelocaliseLicense">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="destinationCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="destinationType" type="tns:RELOCATION_DESTINATION" />
            <s:element minOccurs="1" maxOccurs="1" name="warehouseNRI" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="RELOCATION_DESTINATION">
        <s:restriction base="s:string">
          <s:enumeration value="Location" />
          <s:enumeration value="Pallet" />
          <s:enumeration value="WorkOrder" />
        </s:restriction>
      </s:simpleType>
      <s:element name="RelocaliseLicenseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RelocaliseLicenseResult" type="tns:CR_ResultActionOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePalletCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licParentCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePalletCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreatePalletCodeResult" type="tns:CR_ResultActionOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="licParentCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CR_ResultActionOfString">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfCR_ErrorMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="sendPalletToPrinterfrominv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PalCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendPalletToPrinterfrominvResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendPalletToPrinterfrominvResult" type="tns:CR_ResultActionOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendPalletToPrinterfrominvwithLicCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendPalletToPrinterfrominvwithLicCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendPalletToPrinterfrominvwithLicCodeResult" type="tns:CR_ResultActionOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPalCodeFromLicCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPalCodeFromLicCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPalCodeFromLicCodeResult" type="tns:CR_ResultActionOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListWorkOrdersByStation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stationCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListWorkOrdersByStationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListWorkOrdersByStationResult" type="tns:CR_ResultActionOfListOfWorkOrderNewWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CR_ResultActionOfListOfWorkOrderNewWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfCR_ErrorMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnValue" type="tns:ArrayOfWorkOrderNewWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWorkOrderNewWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WorkOrderNewWS" nillable="true" type="tns:WorkOrderNewWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WorkOrderNewWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NRI" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TemplateCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Products" type="tns:ArrayOfProductDetailsWS" />
        </s:sequence>
      </s:complexType>
      <s:element name="PutLicenseInWorkOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licenseCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="workOrderNRI" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="warehouseNRI" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PutLicenseInWorkOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PutLicenseInWorkOrderResult" type="tns:CR_ResultActionOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListInterWarehouse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="warehouseSourceNRI" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListInterWarehouseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListInterWarehouseResult" type="tns:CR_ResultActionOfListOfInterWarehouseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CR_ResultActionOfListOfInterWarehouseObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfCR_ErrorMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnValue" type="tns:ArrayOfInterWarehouseObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInterWarehouseObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InterWarehouseObject" nillable="true" type="tns:InterWarehouseObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InterWarehouseObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SourceWarehouseId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceWarehouseCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DestinationWarehouseId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationWarehouseCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DestinationLocationId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationLocationCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreationDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ConfirmedDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatorNRI" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatorFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatorLastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfInterWarehouseDetailsObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInterWarehouseDetailsObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InterWarehouseDetailsObject" nillable="true" type="tns:InterWarehouseDetailsObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InterWarehouseDetailsObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LisenseId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LisenseCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductFormatId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductFormatCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Weight" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentLisenseId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ParentLisenseCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetInterWarehouse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="interWarehouseNRI" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInterWarehouseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInterWarehouseResult" type="tns:CR_ResultActionOfInterWarehouseObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CR_ResultActionOfInterWarehouseObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfCR_ErrorMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnValue" type="tns:InterWarehouseObject" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateNewInterWarehouse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="destinationWarehouse" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="creatorNRI" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sourceWarehouse" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewInterWarehouseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateNewInterWarehouseResult" type="tns:CR_ResultActionOfInt32" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PickLicenseInterWarehouse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lic" type="tns:LicenseWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PickLicenseInterWarehouseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PickLicenseInterWarehouseResult" type="tns:CR_ResultActionOfProductDetailsWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductCodeResult" type="tns:CR_ResultActionOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductDes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductDesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductDesResult" type="tns:CR_ResultActionOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInterWarehouseDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="interWarehouseNRI" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInterWarehouseDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInterWarehouseDetailsResult" type="tns:CR_ResultActionOfListOfInterWarehouseDetailsObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CR_ResultActionOfListOfInterWarehouseDetailsObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfCR_ErrorMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnValue" type="tns:ArrayOfInterWarehouseDetailsObject" />
        </s:sequence>
      </s:complexType>
      <s:element name="CompleteInterWarehouse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securedToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="interWarehouseNRI" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompleteInterWarehouseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompleteInterWarehouseResult" type="tns:CR_ResultActionOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetListReceptionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetListReceptions" />
  </wsdl:message>
  <wsdl:message name="GetListReceptionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetListReceptionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetReceptionByNRISoapIn">
    <wsdl:part name="parameters" element="tns:GetReceptionByNRI" />
  </wsdl:message>
  <wsdl:message name="GetReceptionByNRISoapOut">
    <wsdl:part name="parameters" element="tns:GetReceptionByNRIResponse" />
  </wsdl:message>
  <wsdl:message name="PickLicenseReceptionSoapIn">
    <wsdl:part name="parameters" element="tns:PickLicenseReception" />
  </wsdl:message>
  <wsdl:message name="PickLicenseReceptionSoapOut">
    <wsdl:part name="parameters" element="tns:PickLicenseReceptionResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSSCCListForProductSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSSCCListForProduct" />
  </wsdl:message>
  <wsdl:message name="UpdateSSCCListForProductSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSSCCListForProductResponse" />
  </wsdl:message>
  <wsdl:message name="CompleteReceptionSoapIn">
    <wsdl:part name="parameters" element="tns:CompleteReception" />
  </wsdl:message>
  <wsdl:message name="CompleteReceptionSoapOut">
    <wsdl:part name="parameters" element="tns:CompleteReceptionResponse" />
  </wsdl:message>
  <wsdl:message name="GetReceptionProductDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetReceptionProductDetails" />
  </wsdl:message>
  <wsdl:message name="GetReceptionProductDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetReceptionProductDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetListSaleSoapIn">
    <wsdl:part name="parameters" element="tns:GetListSale" />
  </wsdl:message>
  <wsdl:message name="GetListSaleSoapOut">
    <wsdl:part name="parameters" element="tns:GetListSaleResponse" />
  </wsdl:message>
  <wsdl:message name="GetSaleByNRISoapIn">
    <wsdl:part name="parameters" element="tns:GetSaleByNRI" />
  </wsdl:message>
  <wsdl:message name="GetSaleByNRISoapOut">
    <wsdl:part name="parameters" element="tns:GetSaleByNRIResponse" />
  </wsdl:message>
  <wsdl:message name="GetQtyOrderedBySaleNriSoapIn">
    <wsdl:part name="parameters" element="tns:GetQtyOrderedBySaleNri" />
  </wsdl:message>
  <wsdl:message name="GetQtyOrderedBySaleNriSoapOut">
    <wsdl:part name="parameters" element="tns:GetQtyOrderedBySaleNriResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductFormatFromProCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductFormatFromProCode" />
  </wsdl:message>
  <wsdl:message name="GetProductFormatFromProCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductFormatFromProCodeResponse" />
  </wsdl:message>
  <wsdl:message name="PickLicenseSaleSoapIn">
    <wsdl:part name="parameters" element="tns:PickLicenseSale" />
  </wsdl:message>
  <wsdl:message name="PickLicenseSaleSoapOut">
    <wsdl:part name="parameters" element="tns:PickLicenseSaleResponse" />
  </wsdl:message>
  <wsdl:message name="CompleteSaleSoapIn">
    <wsdl:part name="parameters" element="tns:CompleteSale" />
  </wsdl:message>
  <wsdl:message name="CompleteSaleSoapOut">
    <wsdl:part name="parameters" element="tns:CompleteSaleResponse" />
  </wsdl:message>
  <wsdl:message name="GetSaleProductDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSaleProductDetails" />
  </wsdl:message>
  <wsdl:message name="GetSaleProductDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSaleProductDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSaleSoapIn">
    <wsdl:part name="parameters" element="tns:CreateSale" />
  </wsdl:message>
  <wsdl:message name="CreateSaleSoapOut">
    <wsdl:part name="parameters" element="tns:CreateSaleResponse" />
  </wsdl:message>
  <wsdl:message name="RelocaliseLicenseSoapIn">
    <wsdl:part name="parameters" element="tns:RelocaliseLicense" />
  </wsdl:message>
  <wsdl:message name="RelocaliseLicenseSoapOut">
    <wsdl:part name="parameters" element="tns:RelocaliseLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="CreatePalletCodeSoapIn">
    <wsdl:part name="parameters" element="tns:CreatePalletCode" />
  </wsdl:message>
  <wsdl:message name="CreatePalletCodeSoapOut">
    <wsdl:part name="parameters" element="tns:CreatePalletCodeResponse" />
  </wsdl:message>
  <wsdl:message name="sendPalletToPrinterfrominvSoapIn">
    <wsdl:part name="parameters" element="tns:sendPalletToPrinterfrominv" />
  </wsdl:message>
  <wsdl:message name="sendPalletToPrinterfrominvSoapOut">
    <wsdl:part name="parameters" element="tns:sendPalletToPrinterfrominvResponse" />
  </wsdl:message>
  <wsdl:message name="sendPalletToPrinterfrominvwithLicCodeSoapIn">
    <wsdl:part name="parameters" element="tns:sendPalletToPrinterfrominvwithLicCode" />
  </wsdl:message>
  <wsdl:message name="sendPalletToPrinterfrominvwithLicCodeSoapOut">
    <wsdl:part name="parameters" element="tns:sendPalletToPrinterfrominvwithLicCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetPalCodeFromLicCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetPalCodeFromLicCode" />
  </wsdl:message>
  <wsdl:message name="GetPalCodeFromLicCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetPalCodeFromLicCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetListWorkOrdersByStationSoapIn">
    <wsdl:part name="parameters" element="tns:GetListWorkOrdersByStation" />
  </wsdl:message>
  <wsdl:message name="GetListWorkOrdersByStationSoapOut">
    <wsdl:part name="parameters" element="tns:GetListWorkOrdersByStationResponse" />
  </wsdl:message>
  <wsdl:message name="PutLicenseInWorkOrderSoapIn">
    <wsdl:part name="parameters" element="tns:PutLicenseInWorkOrder" />
  </wsdl:message>
  <wsdl:message name="PutLicenseInWorkOrderSoapOut">
    <wsdl:part name="parameters" element="tns:PutLicenseInWorkOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetListInterWarehouseSoapIn">
    <wsdl:part name="parameters" element="tns:GetListInterWarehouse" />
  </wsdl:message>
  <wsdl:message name="GetListInterWarehouseSoapOut">
    <wsdl:part name="parameters" element="tns:GetListInterWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="GetInterWarehouseSoapIn">
    <wsdl:part name="parameters" element="tns:GetInterWarehouse" />
  </wsdl:message>
  <wsdl:message name="GetInterWarehouseSoapOut">
    <wsdl:part name="parameters" element="tns:GetInterWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="CreateNewInterWarehouseSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNewInterWarehouse" />
  </wsdl:message>
  <wsdl:message name="CreateNewInterWarehouseSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewInterWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="PickLicenseInterWarehouseSoapIn">
    <wsdl:part name="parameters" element="tns:PickLicenseInterWarehouse" />
  </wsdl:message>
  <wsdl:message name="PickLicenseInterWarehouseSoapOut">
    <wsdl:part name="parameters" element="tns:PickLicenseInterWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductCode" />
  </wsdl:message>
  <wsdl:message name="GetProductCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductDesSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductDes" />
  </wsdl:message>
  <wsdl:message name="GetProductDesSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductDesResponse" />
  </wsdl:message>
  <wsdl:message name="GetInterWarehouseDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetInterWarehouseDetails" />
  </wsdl:message>
  <wsdl:message name="GetInterWarehouseDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetInterWarehouseDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="CompleteInterWarehouseSoapIn">
    <wsdl:part name="parameters" element="tns:CompleteInterWarehouse" />
  </wsdl:message>
  <wsdl:message name="CompleteInterWarehouseSoapOut">
    <wsdl:part name="parameters" element="tns:CompleteInterWarehouseResponse" />
  </wsdl:message>
  <wsdl:portType name="WMSOperationsSoap">
    <wsdl:operation name="GetListReceptions">
      <wsdl:input message="tns:GetListReceptionsSoapIn" />
      <wsdl:output message="tns:GetListReceptionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReceptionByNRI">
      <wsdl:input message="tns:GetReceptionByNRISoapIn" />
      <wsdl:output message="tns:GetReceptionByNRISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PickLicenseReception">
      <wsdl:input message="tns:PickLicenseReceptionSoapIn" />
      <wsdl:output message="tns:PickLicenseReceptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSSCCListForProduct">
      <wsdl:input message="tns:UpdateSSCCListForProductSoapIn" />
      <wsdl:output message="tns:UpdateSSCCListForProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompleteReception">
      <wsdl:input message="tns:CompleteReceptionSoapIn" />
      <wsdl:output message="tns:CompleteReceptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReceptionProductDetails">
      <wsdl:input message="tns:GetReceptionProductDetailsSoapIn" />
      <wsdl:output message="tns:GetReceptionProductDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListSale">
      <wsdl:input message="tns:GetListSaleSoapIn" />
      <wsdl:output message="tns:GetListSaleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSaleByNRI">
      <wsdl:input message="tns:GetSaleByNRISoapIn" />
      <wsdl:output message="tns:GetSaleByNRISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQtyOrderedBySaleNri">
      <wsdl:input message="tns:GetQtyOrderedBySaleNriSoapIn" />
      <wsdl:output message="tns:GetQtyOrderedBySaleNriSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductFormatFromProCode">
      <wsdl:input message="tns:GetProductFormatFromProCodeSoapIn" />
      <wsdl:output message="tns:GetProductFormatFromProCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PickLicenseSale">
      <wsdl:input message="tns:PickLicenseSaleSoapIn" />
      <wsdl:output message="tns:PickLicenseSaleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompleteSale">
      <wsdl:input message="tns:CompleteSaleSoapIn" />
      <wsdl:output message="tns:CompleteSaleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSaleProductDetails">
      <wsdl:input message="tns:GetSaleProductDetailsSoapIn" />
      <wsdl:output message="tns:GetSaleProductDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateSale">
      <wsdl:input message="tns:CreateSaleSoapIn" />
      <wsdl:output message="tns:CreateSaleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RelocaliseLicense">
      <wsdl:input message="tns:RelocaliseLicenseSoapIn" />
      <wsdl:output message="tns:RelocaliseLicenseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreatePalletCode">
      <wsdl:input message="tns:CreatePalletCodeSoapIn" />
      <wsdl:output message="tns:CreatePalletCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendPalletToPrinterfrominv">
      <wsdl:input message="tns:sendPalletToPrinterfrominvSoapIn" />
      <wsdl:output message="tns:sendPalletToPrinterfrominvSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendPalletToPrinterfrominvwithLicCode">
      <wsdl:input message="tns:sendPalletToPrinterfrominvwithLicCodeSoapIn" />
      <wsdl:output message="tns:sendPalletToPrinterfrominvwithLicCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPalCodeFromLicCode">
      <wsdl:input message="tns:GetPalCodeFromLicCodeSoapIn" />
      <wsdl:output message="tns:GetPalCodeFromLicCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListWorkOrdersByStation">
      <wsdl:input message="tns:GetListWorkOrdersByStationSoapIn" />
      <wsdl:output message="tns:GetListWorkOrdersByStationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PutLicenseInWorkOrder">
      <wsdl:input message="tns:PutLicenseInWorkOrderSoapIn" />
      <wsdl:output message="tns:PutLicenseInWorkOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListInterWarehouse">
      <wsdl:input message="tns:GetListInterWarehouseSoapIn" />
      <wsdl:output message="tns:GetListInterWarehouseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInterWarehouse">
      <wsdl:input message="tns:GetInterWarehouseSoapIn" />
      <wsdl:output message="tns:GetInterWarehouseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewInterWarehouse">
      <wsdl:input message="tns:CreateNewInterWarehouseSoapIn" />
      <wsdl:output message="tns:CreateNewInterWarehouseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PickLicenseInterWarehouse">
      <wsdl:input message="tns:PickLicenseInterWarehouseSoapIn" />
      <wsdl:output message="tns:PickLicenseInterWarehouseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductCode">
      <wsdl:input message="tns:GetProductCodeSoapIn" />
      <wsdl:output message="tns:GetProductCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductDes">
      <wsdl:input message="tns:GetProductDesSoapIn" />
      <wsdl:output message="tns:GetProductDesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInterWarehouseDetails">
      <wsdl:input message="tns:GetInterWarehouseDetailsSoapIn" />
      <wsdl:output message="tns:GetInterWarehouseDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompleteInterWarehouse">
      <wsdl:input message="tns:CompleteInterWarehouseSoapIn" />
      <wsdl:output message="tns:CompleteInterWarehouseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WMSOperationsSoap" type="tns:WMSOperationsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListReceptions">
      <soap:operation soapAction="https://ceritar.com/GetListReceptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceptionByNRI">
      <soap:operation soapAction="https://ceritar.com/GetReceptionByNRI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PickLicenseReception">
      <soap:operation soapAction="https://ceritar.com/PickLicenseReception" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSSCCListForProduct">
      <soap:operation soapAction="https://ceritar.com/UpdateSSCCListForProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteReception">
      <soap:operation soapAction="https://ceritar.com/CompleteReception" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceptionProductDetails">
      <soap:operation soapAction="https://ceritar.com/GetReceptionProductDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListSale">
      <soap:operation soapAction="https://ceritar.com/GetListSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaleByNRI">
      <soap:operation soapAction="https://ceritar.com/GetSaleByNRI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQtyOrderedBySaleNri">
      <soap:operation soapAction="https://ceritar.com/GetQtyOrderedBySaleNri" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductFormatFromProCode">
      <soap:operation soapAction="https://ceritar.com/GetProductFormatFromProCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PickLicenseSale">
      <soap:operation soapAction="https://ceritar.com/PickLicenseSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteSale">
      <soap:operation soapAction="https://ceritar.com/CompleteSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaleProductDetails">
      <soap:operation soapAction="https://ceritar.com/GetSaleProductDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSale">
      <soap:operation soapAction="https://ceritar.com/CreateSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RelocaliseLicense">
      <soap:operation soapAction="https://ceritar.com/RelocaliseLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePalletCode">
      <soap:operation soapAction="https://ceritar.com/CreatePalletCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendPalletToPrinterfrominv">
      <soap:operation soapAction="https://ceritar.com/sendPalletToPrinterfrominv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendPalletToPrinterfrominvwithLicCode">
      <soap:operation soapAction="https://ceritar.com/sendPalletToPrinterfrominvwithLicCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPalCodeFromLicCode">
      <soap:operation soapAction="https://ceritar.com/GetPalCodeFromLicCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListWorkOrdersByStation">
      <soap:operation soapAction="https://ceritar.com/GetListWorkOrdersByStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutLicenseInWorkOrder">
      <soap:operation soapAction="https://ceritar.com/PutLicenseInWorkOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListInterWarehouse">
      <soap:operation soapAction="https://ceritar.com/GetListInterWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInterWarehouse">
      <soap:operation soapAction="https://ceritar.com/GetInterWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewInterWarehouse">
      <soap:operation soapAction="https://ceritar.com/CreateNewInterWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PickLicenseInterWarehouse">
      <soap:operation soapAction="https://ceritar.com/PickLicenseInterWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductCode">
      <soap:operation soapAction="https://ceritar.com/GetProductCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductDes">
      <soap:operation soapAction="https://ceritar.com/GetProductDes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInterWarehouseDetails">
      <soap:operation soapAction="https://ceritar.com/GetInterWarehouseDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteInterWarehouse">
      <soap:operation soapAction="https://ceritar.com/CompleteInterWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WMSOperationsSoap12" type="tns:WMSOperationsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListReceptions">
      <soap12:operation soapAction="https://ceritar.com/GetListReceptions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceptionByNRI">
      <soap12:operation soapAction="https://ceritar.com/GetReceptionByNRI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PickLicenseReception">
      <soap12:operation soapAction="https://ceritar.com/PickLicenseReception" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSSCCListForProduct">
      <soap12:operation soapAction="https://ceritar.com/UpdateSSCCListForProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteReception">
      <soap12:operation soapAction="https://ceritar.com/CompleteReception" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceptionProductDetails">
      <soap12:operation soapAction="https://ceritar.com/GetReceptionProductDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListSale">
      <soap12:operation soapAction="https://ceritar.com/GetListSale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaleByNRI">
      <soap12:operation soapAction="https://ceritar.com/GetSaleByNRI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQtyOrderedBySaleNri">
      <soap12:operation soapAction="https://ceritar.com/GetQtyOrderedBySaleNri" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductFormatFromProCode">
      <soap12:operation soapAction="https://ceritar.com/GetProductFormatFromProCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PickLicenseSale">
      <soap12:operation soapAction="https://ceritar.com/PickLicenseSale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteSale">
      <soap12:operation soapAction="https://ceritar.com/CompleteSale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaleProductDetails">
      <soap12:operation soapAction="https://ceritar.com/GetSaleProductDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSale">
      <soap12:operation soapAction="https://ceritar.com/CreateSale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RelocaliseLicense">
      <soap12:operation soapAction="https://ceritar.com/RelocaliseLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePalletCode">
      <soap12:operation soapAction="https://ceritar.com/CreatePalletCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendPalletToPrinterfrominv">
      <soap12:operation soapAction="https://ceritar.com/sendPalletToPrinterfrominv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendPalletToPrinterfrominvwithLicCode">
      <soap12:operation soapAction="https://ceritar.com/sendPalletToPrinterfrominvwithLicCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPalCodeFromLicCode">
      <soap12:operation soapAction="https://ceritar.com/GetPalCodeFromLicCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListWorkOrdersByStation">
      <soap12:operation soapAction="https://ceritar.com/GetListWorkOrdersByStation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutLicenseInWorkOrder">
      <soap12:operation soapAction="https://ceritar.com/PutLicenseInWorkOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListInterWarehouse">
      <soap12:operation soapAction="https://ceritar.com/GetListInterWarehouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInterWarehouse">
      <soap12:operation soapAction="https://ceritar.com/GetInterWarehouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewInterWarehouse">
      <soap12:operation soapAction="https://ceritar.com/CreateNewInterWarehouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PickLicenseInterWarehouse">
      <soap12:operation soapAction="https://ceritar.com/PickLicenseInterWarehouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductCode">
      <soap12:operation soapAction="https://ceritar.com/GetProductCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductDes">
      <soap12:operation soapAction="https://ceritar.com/GetProductDes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInterWarehouseDetails">
      <soap12:operation soapAction="https://ceritar.com/GetInterWarehouseDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteInterWarehouse">
      <soap12:operation soapAction="https://ceritar.com/CompleteInterWarehouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WMSOperations">
    <wsdl:port name="WMSOperationsSoap" binding="tns:WMSOperationsSoap">
      <soap:address location="http://svr-net15-temp/myceritar_miechko/Services/Inventory/WMSOperations.asmx" />
    </wsdl:port>
    <wsdl:port name="WMSOperationsSoap12" binding="tns:WMSOperationsSoap12">
      <soap12:address location="http://svr-net15-temp/myceritar_miechko/Services/Inventory/WMSOperations.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>